
body{
    background-color: rgb(241, 241, 204)
}

p{
    color: rgb(7, 7, 245);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.centralizar{
    border: 2px black;
    size: auto 100px;
    text-align: center;

}